 {% extends 'layout.html' %}

{% block title %} Listado de articulos {% endblock %}

{% block content %}

<h1 class="title">Listado de articulos</h1>

{% if messages %}
{% for messages in messages %}

<div class="message">
    {{message}}
</div>
{% endfor %}

{% endif %}



    {% for articulo in articulos %}
    <article class="article-item">

        {% if articulo.image != 'null' and articulo.image.url %}

        <div class="image">
            <img scr="{{articulo.image.url}}"/>
        </div>
        {% endif %}


         <div class="data">

        <h2>{{ articulo.title }}</h2>
        <p>{{ articulo.content }}</p>

        {% if articulo.image %}
            <img src="{{ articulo.image.url }}" alt="">
        {% endif %}

        <h4>{{ articulo.title }}</h4>
        <span>{{ articulo.created_at }}</span>
        <p>{{ articulo.content }}</p>

        <a href="{% url 'borrar' id=articulo.id %}">Eliminar</a>

         </div>
        <div class="clearfix"></div>

        
    </article>
{% endfor %}



{% endblock %}
