<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        <!--Titulo de cada pagina-->
        {% endblock %}
        | Mario Avila
    </title>
    
    {% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />

</head>

<body>

    <!-- Cabezera de la Pagina -->
     <header>
        <div id="logotipo">
            <!--Logo django-->
            <img src="{% static 'images/logo.png' %}" />

            <h1>Sitio web con Django</h1>
        </div>
     </header>

     <nav>
     
    
    <ul>
        <li><a href="{% url 'inicio' %}">Inicio</a></li>
        <li><a href="{% url 'hola_mundo' %}">Hola Mundo</a></li>
        <li><a href="{% url 'pagina' %}">Página de pruebas</a></li>
        <li><a href="{% url 'contacto' %}">Contacto</a></li>
        <li><a href="{% url 'create' %}">Crear artículo</a></li>
        <li><a href="{% url 'create_full' %}">Crear artículo 2</a></li>

    

    </ul>
     </nav>
     <div class="barra">
          <span class="esquina-izquierda"></span>
          <span class="relleno-barra"></span>
          <span class="esquina-derecha"></span>

    

    <div id="content">

        <div class="box">
              
        {% block content %}
           <!--Codigo que viene de templates--> 
           <strong>Contenido del bloque original!!!!</strong>
        {% endblock %}

        </div>
      
</div>
    

</body>

<footer>
   Master en python &copy; Mario Avila - {% now "DATE_FORMAT" %}

</footer>


</html>